@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/solly.png" />

<p><br />
    Hello, my name is Solly Fathi and I have been working as a software developer for a while. 
    <br />
    Currently, I'm an independent code monkey on Windows Azure platform and having a blast doing that!
</p>
